/* ==========================================================================
   Base elements
   ========================================================================== */

html {
  @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
}

body {
  border-top: solid 0.25em;
}

blockquote,
q {
  margin: 0.25em 0;
  padding-left: 0.75em;
  border-left: 2px solid #ccc;
  border-top: none;
  border-bottom: none;
  border-right: none;
  background: none;
  color: #333;
  font-style: normal; /* 이탤릭 제거 */
}

footer {
  font-size: 0.75em;
  font-style: normal;
  margin-top: 0.25em;
}

footer::before {
  content: "— ";
  padding-right: 0.25rem;
}

code,
kbd,
samp,
pre {
  font-family: monospace;
}

kbd {
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.05em 0.35em;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #f5f5f5;
  font-size: 0.85em;
  text-shadow: none;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headline-font-family;
  text-rendering: optimizeLegibility; /* enable common ligatures and kerning */
}

h1 {
  @include fluid-type($min-vw, $max-vw, $h1-min, $h1-max);
}

h2 {
  @include fluid-type($min-vw, $max-vw, $h2-min, $h2-max);
}

h3 {
  @include fluid-type($min-vw, $max-vw, $h3-min, $h3-max);
}

h4 {
  @include fluid-type($min-vw, $max-vw, $h4-min, $h4-max);
}

h5 {
  @include fluid-type($min-vw, $max-vw, $h5-min, $h5-max);
}

h6 {
  @include fluid-type($min-vw, $max-vw, $h6-min, $h6-max);
}

dt {
  font-weight: bold;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

dd {
  margin: 0;
}

pre {
  @include fluid-type($min-vw, $max-vw, 12px, 14px);
}

figcaption {
  margin: 0.5rem 0;
  font-size: 80%;
}

a {
  -webkit-transition: $global-transition;
  transition: $global-transition;
}
